%div{"ng-app" => "flashcardApp"}
  %div{"ng-controller" => "flashcardCtrl"}
    %form{:action => "demo_form.asp"}
    Question
    %input{:name => "fname", :type => "text", 'ng-model' => 'question'} 
    Size
    %input{:name => "fname", :type => "text", 'ng-model' => 'size'}
    %br
    Category
    %input{:name => "fname", :type => "text", 'ng-model' => 'category'}
    %br
    %div{"ng-repeat" => "answer in answers"}
      %label Input {{$index+1}}:
      %input{"ng-model" => "answer.value", :type => "text"}
      %button{:type => "button", 'ng-click' => 'markAnswerCorrect($index)'} Mark as Correct
    %input{:type => "submit", :value => "Submit", 'ng-click' => 'createFlashcard(question, category, answers)'}

